<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build Type</key>
	<string>$(BUILD_TYPE)</string>
	<key>Build Variant</key>
	<string>$(BUILD_VARIANT)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eudi-openid4vp</string>
				<string>mdoc-openid4vp</string>
				<string>openid4vp</string>
				<string>haip-vp</string>
				<string>openid-credential-offer</string>
				<string>haip-vci</string>
				<string>rqes</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Changelog Url</key>
	<string>$(CHANGELOG_URL)</string>
	<key>Core User Auth</key>
	<string>$(CORE_USER_AUTH)</string>
	<key>Local Issuer Client Id</key>
	<string>$(LOCAL_ISSUER_CLIENT_ID)</string>
	<key>Local Issuer Url</key>
	<string>$(LOCAL_ISSUER_URL)</string>
	<key>Local Trusted Hosts</key>
	<string>$(LOCAL_TRUSTED_HOSTS)</string>
	<key>Local Wallet Attestation Url</key>
	<string>$(LOCAL_WALLET_ATTESTATION_URL)</string>
	<key>Local Verifier Client Id</key>
	<string>$(LOCAL_VERIFIER_CLIENT_ID)</string>
	<key>Local Verifier Url</key>
	<string>$(LOCAL_VERIFIER_URL)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>Team ID</key>
	<string>$(APP_TEAM_ID)</string>
</dict>
</plist>
