#include? "WalletLocalOverrides.xcconfig"

BUILD_TYPE = DEBUG
BUILD_VARIANT = DEV
LOCAL_ISSUER_CLIENT_ID =
LOCAL_ISSUER_URL =
LOCAL_TRUSTED_HOSTS =
LOCAL_WALLET_ATTESTATION_URL =
LOCAL_VERIFIER_CLIENT_ID =
LOCAL_VERIFIER_URL =
ISSUER_FRONTEND_URL = https://127.0.0.1:5002
ISSUER_BACKEND_URL = https://127.0.0.1:5003
